@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@400;600&display=swap');
/* defaults start */
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
:root{
 --purple:hsl(257, 40%, 49%);
 --pink:hsl(300, 69%, 71%);
}
body{
 background-color: var(--purple);
 font-family: 'Open Sans', sans-serif;

}
/* defaults end */

/* flex start */
.flex{
 display: flex;
 flex-direction: column;
 width: 100vw;
}
body{
 width: 100vw !important;
 height: 100vh !important;
}
/* flex-end */

/* images and logo */
.imgs{
position: absolute;
top: 20px;
}
.img{
 width: 80vw;
 margin-top: 65px;
}
.logo{
 width: 150px;
 position: absolute;
 top: 5px;
}
.container{
 padding: 10vw;
}
.txt{
 position: absolute;
 width: 80vw;
 top: 350px;
}
.txt .des{
 text-align: center;
 color: white;
 margin-top: 10px;
 font-size: 18px;
}
.txt button{
width: 50vw;
height: 10vw;
margin-right: 15vw;
margin-left: 15vw;
border: none;
border-radius: 100px;
margin-top: 20px;
color: var(--purple);
font-family: 'Poppins', sans-serif;
font-size: 20px;
box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.274) ;

transition: .5s box-shadow , 1s background-color ,.5s color;
}
.txt button:hover{
 background-color: var(--pink);
 color: white;
 box-shadow:0px 0px 2px 1px white ;
}
/* images and logo end*/

/* background pattern */
.bg-desktop{
 display: none;
}
.bg{
z-index: -1000;
width: 100vw;
}
/* background pattern end*/

/* header */
.header{
 text-align: center;
 color: white;
 font-family: 'Poppins', sans-serif;
 padding-right: -60px;
 padding-left: -60px;
 font-size: 27px;
}
/* header  end */
 /* icons */
 .icons{
 position: relative;
 top: 30px;
 display: flex;
 justify-content: center;
 }
  .icons i{
   color: white;
   transition: .5s color;
  }
    .icons i:hover{
   color: var(--pink);
  }
  .icons  .fa-twitter{
   margin-right: 25px;
    margin-left: 25px;
  }
 /* icons end */

 /* media queries */
 @media screen and (min-width:680px) {
  .txt button{
height: 68px;
}
 }
 @media screen and (min-width:455px){
 .imgs .img{
  width: 364px;
  height: 260px;
 }
 }
  @media screen and (max-width:300px){
 .txt{
  top: 250px;
 }
   .txt button{
height: 28px;
width: 140px;
font-size: 13px;
}
 }
   @media screen and (min-width:540px){
 .txt{
  margin-top: 50px;
 }
 }
 @media  screen and (min-width:1075px) {
  .bg-mobile{
   display: none;
  }
  .bg-desktop{
   display: inline;
   height: 100vh;
  }
  body{
  overflow-x: hidden !important;
  }
   .imgs .img{
   width: 550px;
   height: 393px;
   position: absolute;
   top: 100px;
 }
 .logo{
  width: 20vw;
  top: 40px;
 }
 .logo ,.imgs .img{
 left: -30px;
 }
  .des{
  width: 40vw;
  margin-left:  32vw; 
   margin-right:  40vw; 
     text-align: left !important;
 }
.txt .register-button{
  width: 200px;
  position: relative;
  left: 17vw;
 }
 .txt{
 top: 150px;
 left: 300px;
 }
 .header{
  width: 500px;
  left: 32vw;
  position: relative;
   text-align: left;
   font-size: 40px;
 }
 .icons{
  position: absolute !important;  
  left: 0px;
  right: 0px;
  top: 60vh;
  left: 50vw;
 }
     html{
     overflow-y: hidden;
    }
    .container{
     overflow-y: hidden !important;
    }
    body{
     overflow-y: hidden !important;
    }
 }
  @media  screen and (max-height:597px){
    .icons{
  top: 50vh;
 }

  }
    @media  screen and (min-width:854px){
     .icons{
      top: 50px;
     }
    }


